<div class="container-fluid">
  <form [formGroup]="form">
    <div class="col-md-4 form-content">
      <div class="row">
        <mat-form-field>
          <mat-label>Origin*</mat-label>
          <mat-select formControlName="origin">
            <mat-option></mat-option>
            <mat-option *ngFor="let place of places" [value]="place.id">{{place.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['origin'].touched && form.controls['origin'].hasError('required')">Required fields</mat-error>
        </mat-form-field>
      </div>
      <br />
      <div class="row">
        <mat-form-field>
          <mat-label>Destination*</mat-label>
          <mat-select formControlName="destination">
            <mat-option></mat-option>
            <mat-option *ngFor="let place of places" [value]="place.id">{{place.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['destination'].touched && form.controls['destination'].hasError('required')">Required fields</mat-error>
        </mat-form-field>
      </div>
      <br />
      <div class="row">
        <mat-form-field>
          <input matInput [readonly]="true" [matDatepicker]="dp" (click)="dp.open()" formControlName="departLocalTime" (dateChange)="departDateChange($event)">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
          <input type="hidden" [ngxTimepicker]="toggleTimepicker" [disableClick]="true" [format]="24" readonly>
          <ngx-material-timepicker #toggleTimepicker
          [ESC]="false"
          (timeSet)="setTimeInput($event)"
          [cancelBtnTmpl]="cancelBtn"
          [confirmBtnTmpl]="confirmBtn"
          ></ngx-material-timepicker>
          <ng-template #cancelBtn>
            <button mat-button>Cancel</button>
          </ng-template>
          <ng-template #confirmBtn>
            <button mat-button>Set</button>
          </ng-template>
          <mat-error *ngIf="form.controls['departLocalTime'].touched && form.controls['departLocalTime'].hasError('required')">Required fields</mat-error>
        </mat-form-field>
      </div>
      <br />
      <div class="row justify-content-between">
        <button data-testId="deleteRouteButton" type="button" mat-raised-button color="warn" (click)="deleteClick()"><mat-icon>delete</mat-icon> Delete</button>
        <button data-testId="saveRouteButton" type="button" mat-raised-button color="primary" class="justify-content-end" (click)="edittedClick()"><mat-icon>save</mat-icon> Save</button>
      </div>
    </div>
  </form>
</div>
