<h2>Routes</h2>

<div class="row" *ngFor="let route of routeList$ | async">
  <div class="col-md-12">
    <div class="col-md-3">
      From: <strong>{{route.origin.name}}</strong>
    </div>
    <div class="col-md-3">
      To: <strong>{{route.destination.name}}</strong>
    </div>
    <div class="col-md-4">
      Departing time: {{route.departUtc | uDate: "dd/MM/yyyy HH:mm"}}
    </div>
    <div class="col-md-2">
      <a class="details-link" (click)="showDetails(route)" routerLinkActive="router-link-active">edit</a>
    </div>
  </div>
</div>
