<div class="theme-wrapper default-theme ">
  <mat-sidenav-container>
    <div class="wrapper">
      <div class="toolbar">
        <mat-toolbar color="primary">
          <span [routerLink]="['/']">DestinationV</span>
          <span class="title-menu-gap spacer"></span>
          <button mat-button [routerLink]="['/routes']" routerLinkActive="active">
            <mat-icon>access_time</mat-icon> Routes
          </button>
        </mat-toolbar>
      </div>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
      <div class="footer">
        <div class="row">
          <div class="col-sm-12 links">
            <span>Des</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 signature">
            &#169; <span class="year" data-testid="footer-year">{{thisYear}}</span> - dKosasih
            <br class="d-block d-sm-none">
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-container>
</div>
